@charset "UTF-8";
form#editer{
	width: 300px;
	margin:0px;
	padding: 0px;
}

form#editer label, form#editor input[type='text']{
	display:block;
}

form#editer #editor-buttons{
	border:none;
	text-align:right;
}
form#editer textarea, form#editor
input[type='text']{
	width:90%;
	margin-bottom:2em;
}

form#editor textarea{
	height:10em;
}